# Æther CSI Node — Default config for Gabriel's setup
CONFIG_AETHER_WIFI_SSID="DENIS"
CONFIG_AETHER_WIFI_PASSWORD="12345678"
CONFIG_AETHER_HUB_IP="192.168.1.11"
CONFIG_AETHER_HUB_PORT=5000
CONFIG_AETHER_SAMPLE_RATE_MS=10

# ESP32 target
CONFIG_IDF_TARGET="esp32"

# WiFi
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# CSI
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
